header {
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: end;
  border-bottom: solid;
  border-color: gray;
  width: 100%;
  height: 8rem;
}
header ul {
  display: flex;
  text-decoration: none;
  list-style: none;
  text-align: center;
  margin-bottom: 1rem;
}
header a {
  text-decoration: none;
  font-family: "nunito";
  margin: 1rem;
  font-size: larger;
  color: azure;
  border-left: solid;
  padding-left: 10px;
  border-color: gray;
}
header a:hover {
  transition: all 1s;
  color: orange;
  margin: 20px;
}

main section h3 {
  font-family: "nunito";
  color: azure;
  text-align: left;
  font-size: xx-large;
  margin-left: 2rem;
  font-weight: 200;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
  position: relative;
  padding-bottom: 15em;
  min-height: 100vh;
}

.logoinicio {
  display: flex;
  justify-content: center;
}

footer {
  margin-top: 10rem;
  background-color: gray;
  padding-top: 1rem;
  border-top: solid 3rem;
  color: rgb(89, 76, 76);
  padding-bottom: 1rem;
  position: absolute;
  bottom: 0;
  width: 100%;
}
footer ul {
  list-style-type: none;
  text-align: center;
  text-align: center;
}
.telefonos {
  font-family: "nunito";
  text-align: center;
  margin-top: 1rem;
  color: antiquewhite;
}

@media (max-width: 600px) {
  header {
    padding: 15px;
    width: 100%;
    height: 8rem;
  }
  header nav ul li {
    margin: 0.1rem;
  }
  header nav ul li a {
    font-size: 0.8rem;
    margin: 0.2rem;
  }
  header div img {
    width: 5rem;
  }
  main section div h3 {
    font-size: 0.9rem;
    padding: 0.6rem;
  }
  footer section ul li a {
    font-size: 0.8rem;
  }
  section p {
    font-size: 0.8rem;
  }
  .catalogo {
    width: 70%;
    height: 40rem;
    margin-left: 5rem;
  }
  .formulario {
    width: 100%;
    height: 30rem;
  }
  form div label {
    font-size: 0.8rem;
  }
  .telefono label input {
    position: absolute;
  }
  .telefono {
    position: absolute;
    left: 5rem;
  }
  #carouselExampleFade {
    width: 80%;
    margin: auto;
  }
}
.formulario {
  /*esta funcion le da color de fondo*/
  background-color: gray;
  color: black;
  font-family: "nunito";
  text-align: center;
  margin-top: 5rem;
  padding-bottom: 5rem;
  padding-top: 5rem;
}

.nombreyapellido {
  padding-right: 210px;
}

.telefono {
  padding-right: 140px;
  padding-top: 20px;
}

.catalogo {
  display: flex;
  justify-content: center;
  margin-top: 10rem;
}

#carouselExampleFade {
  width: 70%;
  margin: auto;
  margin-top: 5rem;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 1rem;
}
.grid-container .grid-itemuno {
  border: solid 1px;
  grid-column: 2/5;
  grid-row: 2/5;
  background-color: grey;
  border-radius: 1rem;
  padding: 1rem;
  width: 100%;
  height: 100%;
}
.grid-container p {
  color: antiquewhite;
  font-family: "nunito";
  font-size: 2rem;
  text-align: center;
  margin: 2rem;
}

.bodynosotros {
  background-color: rgb(60, 58, 58);
}

.icono-wp {
  cursor: pointer;
  position: absolute;
  right: 15px;
  bottom: 20px;
  width: 4rem;
  transition: all 1s;
}
.icono-wp:hover {
  transform: rotate(360deg);
}

a, footer a {
  text-decoration: none;
  font-family: "nunito";
  margin: 1rem;
  font-size: larger;
  color: azure;
  border-left: solid;
  padding-left: 10px;
  border-color: gray;
}
a:hover {
  transition: all 1s;
  color: orange;
  margin: 20px;
}

/*# sourceMappingURL=styles.css.map */
