


*{
    margin: 0;
    padding: 0;
}

#titulos {
color: gray;
text-align: center;
font-family: "Nunito";

}

#titulos h2 {
    color: darkorange;
text-align: center;
}




.formulario {
    /*esta funcion le da color de fondo*/
    background-color: gray;
    color: black;
    font-family: "nunito";
    text-align: center;
    margin-top: 8rem;
    padding-bottom: 5rem;
    padding-top: 5rem;
    
}

.redes {
    color:#ff8c00;
}



/*pie de pagina*/
footer ul {
    list-style-type: none;
    text-align: center;
    text-align: center;

}



.menu-container {
    text-decoration: none;
    font-size: x-large;
    /* position fixed es para que quede fijo el elemento*/
    position: fixed;
    left: 270px;
    top: 100px;
   font-family: "nunito"; 
   position: absolute; left: 500px; top: 160px;
   display: flex; 
  justify-content: center;
  
}

.menu {
display: flex;

}





main {
    color: gray; 
    font-family: "nunito";
}

.telefonos { 
    font-family: "nunito";
    text-align: center;
    margin-top: 1rem;
    color: antiquewhite;
}



.logoinicio {
    display: flex;
    justify-content: center;
}

.servicios {
    display: flex;
    justify-content: center;
}

.telefono {
    padding-right: 170px;
    padding-top: 20px;
}

.nombreyapellido {

padding-right: 240px;

} 


.imagenprincipal {

    background-color: #ff8c00;
    border-bottom: solid;
   color: gray;
}






.imagenestrabajos {
    display:flex; 
    justify-content: space-around;
    flex-wrap: wrap;
  

}




body {
    background-color: whitesmoke;
    position: relative;
    padding-bottom: 15em;
min-height: 100vh;
}

.header-trabajos {

    background-color: gray;
    display: flex;
  justify-content: center;
  align-items: end;
  border-bottom: solid;
  border-color: gray;

  


}

header nav ul  {
display: flex;
text-decoration: none;
list-style: none;
}

header nav ul li {
    

   
}

header nav ul li a {
    text-decoration: none;
    font-family: "nunito";
   margin: 5rem;
   font-size: larger;
   color: azure;
   border-left: solid;
   padding-left: 10px;
   border-color: gray;


}

/*para Mobile*/


@media only screen and (max-width:500px) { body {
   
background-color: black; 

} 
header { flex-direction: column;}
}


.container-imagenestrabajos {


display: grid;
gap: 5rem;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(3, 1fr);
display: flex;
flex-wrap: wrap;
justify-content: center;
margin-top: 10rem;
margin-bottom: 10rem;

}

.asador {
    width: 50rem;
    margin-top: 10rem;
}
.portonlevadizo {
    width: 50rem;
}
.portoncorredizo {
    width: 50rem;
}



/*
.container-imagenestrabajos {

display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(5, 1fr );
gap: 2rem;
display: flex;
flex-wrap: wrap;
}

div img {
    width: 100%;
    height: 100%;
}
*/
.imagen-pmsinfondo {
    width: -10 rem;
  
}

footer {
    margin-top: 10rem;
    background-color: gray;
    padding-top: 1rem;
    border-top: solid 3rem;
    color:  rgb(89, 76, 76);
    padding-bottom: 1rem;
    position:absolute;
    bottom: 0;
   width: 100%;
   
}

.catalogo {
    display: flex;
    justify-content: center;
    margin-top: 10rem;
}



header {
    flex-wrap: wrap;
}


footer section ul li a {
    text-decoration: none;
    color: black;
    font-family: "nunito";
   
    
    
}

section nav ul li a:hover {
    color: coral;
    transition: 2s;
    margin: 0.5rem;

}


#carouselExampleFade {
    width: 70%;
    position:relative;
    left: 13rem;
    

}



.textonosotros {

text-align: center;

margin: 10rem;

}

div h4 {
    font-size: 2rem;
}

.grid-container {
   
    display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: 15rem 15rem 40rem;
gap: 1rem;
margin: 7rem;
margin-left: 20rem;
margin-right: 20rem;

}



.grid-item {
    border: solid 1px;
}

.grid-itemuno {
    border: solid 1px;
    grid-column: 1/4;
    grid-row: 1/3;
   background-color: grey;
   border-radius: 1rem;
   padding: 1rem;
}



section div p {
    color: antiquewhite;
    font-family: "nunito";
    font-size: 2rem;
    text-align: center;
    margin: 5rem;
}

.bodynosotros {
    background-color: ;
}

.grid-itemcuatro {
    grid-column: 1/4;
    border-radius: 0.5rem;
    background-color: gray;
margin-top: 3rem;
}




section div img {
    width: 75%;
height: 75%;
margin-top: 5rem;
margin-left: 9rem;
}


.bodynosotros {
   background-color: rgb(72, 67, 67);
}

