.formulario {
    /*esta funcion le da color de fondo*/
    background-color: gray;
    color: black;
    font-family: "nunito";
    text-align: center;
    margin-top: 8rem;
    padding-bottom: 5rem;
    padding-top: 5rem;
    
}
.nombreyapellido {

    padding-right: 210px;
    
    } 

    .telefono {
        padding-right: 140px;
        padding-top: 20px;
    }

