

footer {
  
        margin-top: 10rem;
        background-color: gray;
        padding-top: 0rem;
        border-top: solid 3rem;
        color:  rgb(89, 76, 76);
        padding-bottom: 1rem;
        position:absolute;
        bottom: 0;
       width: 100%;


       ul{
        list-style-type: none;
        text-align: center;
        text-align: center;
    
       }


   a {
      @extend a;

     }

}

.telefonos { 
    font-family: "nunito";
    text-align: center;
    margin-top: 1rem;
    color: antiquewhite;
}

section ul li a {
    display: flex;
    justify-content: center;
    

}

