
@import "./variables";


.container-fluid {
 background-color: gray ;
 

a{
color: antiquewhite;
text-align: center;
}
}

main section h3 {
  font-family: "nunito";
  color: $color-enlaces;
  text-align: left;
  font-size: xx-large;
  margin-left: 2rem;
  font-weight: 200;


}