@media (max-width: 600px) 
{
main section div h3 {
    font-size: 0.9rem;
    padding: 0.6rem;
}

footer section ul li a {
font-size: 0.8rem;

}


section p {


font-size: 0.8rem;
}


.catalogo {
width: 70%;
height: 40rem;
margin-left: 5rem;
}

.animacionwp img {
    width: 3rem;
}
 
section div  p {
    font-size: 1rem;
}


}