.grid-container {
   
    display: grid;
     grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
       gap: 1rem;


   
    .grid-itemuno {
        border: solid 1px;
        grid-column: 2/5;
        grid-row: 2/5;
       background-color: grey;
       border-radius: 1rem;
       padding: 1rem;
      width: 100%;
      height: 100%;
    }
    

    p {
        color: antiquewhite;
        font-family: "nunito";
        font-size: 2rem;
        text-align: center;
        margin: 2rem;
    }





}




.bodynosotros {
    background-color: rgb(60, 58, 58);
}

